* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  background-color: black;
}

#root div{
    padding: 20px;
    background-color: #333;
}

div input{
    padding: 5px 10px;
    background-color: transparent;
    border: 4px solid lightblue;
    border-radius: 5px;
}

div button{
    margin-left: 20px;
    padding: 5px 10px;
    font-size: 15px;
    background-color: #444;
    color: white;
    border: 1px solid transparent;
}

div h1{
  color: white;
}